.home_quick{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.advertisement{
    width: 100%;
    background-color: #000;
    color: #fff;
    padding: 20px ;
    text-align: center;
}