.procedure_left{
    padding: 30px 120px;
    margin-top: 30px;
}
.procedure_left h2{
    color: #777;
}
.procedure_left ul{
    margin-left: 30px;
    margin-top: 20px;
}
.procedure_left ul li{
    margin-top: 10px;
    font-size: 18px;
}
